// Fonts

$font-default = 'Lato', sans-serif;
$font-headings = 'Raleway', sans-serif;

// Colors

$color-bg = #00171F
$color-default = #007EA7
$color-text = #3A506B

$color-white = #ffffff
$color-red = #F25F5C
$color-yellow =#FFE066

// Icons

icomoon-font-path ?= "../../fonts/"

icon-sepia = "\e40a"
icon-saturate = "\e23a"
icon-grayscale = "\e23b"
icon-invert = "\e891"
icon-opacity = "\e91c"
icon-hue-rotate = "\e41a"
icon-brightness = "\e430"
icon-download = "\e900"
icon-upload = "\e901"
icon-contrast = "\e902"

